<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-md-4"></div>
        <div class="col-md-4 ">
            <div class="card shadow">
                <div class="card-header bg-light text-center">Login</div>
                <ng-container *ngIf="error">
                    <div class="alert alert-danger alert-dismissible fade show m-3" role="alert">
                        <strong>Oops!</strong> Please try again
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </ng-container>
                <div class="card-body">
                    <form (ngSubmit)="login()" [formGroup]="loginForm">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" formControlName="email">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" formControlName="password">
                        </div>
                        <button type="submit" class="btn btn-warning">Login</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>